VITE_SUPABASE_URL=sb_publishable_KgV-JQ3YV56lQl9uOnlD1A_exPJLjEA
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndpZ25xZmpqZGt6bXNucmVnYmZzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5MDIzMjgsImV4cCI6MjA5OTQ3ODMyOH0.NXGa3lxrmP0VVZuUtz_rUmDnSybw5SZZNS-j9XgvcPw
VITE_API_URL=https://preppilot-api-1cq1.onrender.com
VITE_CLERK_PUBLISHABLE_KEY=pk_test_bW92ZWQtcmFwdG9yLTgyLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_fd8GYtC814w975DXez3hFYrR2xgdzr9TH5TXo7vkbf
GROQ_API_KEY=
GROQ_MODEL=llama3-70b-8192
