VITE_SUPABASE_URL=https://wignqfjjdkzmsnregbfs.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndpZ25xZmpqZGt6bXNucmVnYmZzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5MDIzMjgsImV4cCI6MjA5OTQ3ODMyOH0.NXGa3lxrmP0VVZuUtz_rUmDnSybw5SZZNS-j9XgvcPw
